In [1]:
import pandas as pd
import seaborn as sn
import numpy as np

In [2]:
df = pd.read_csv("income.csv",
                index_col = None,
                 names=["income", "count"],
                 skiprows = 1
                )

In [4]:
df.head()

   income  count
0    5000   4371
1   10000   3295
2   15000   5825
3   20000   6047
4   25000   6097

In [ ]:
sn.set(rc={'figure.figsize':(11.7,8.27)})
g = sn.barplot(x='income',y='count',data=df)
g.set_xticklabels(g.get_xticklabels(), 
                          rotation=45, 
                          horizontalalignment='right')

[Text(0, 0, '5000'),
 Text(1, 0, '10000'),
 Text(2, 0, '15000'),
 Text(3, 0, '20000'),
 Text(4, 0, '25000'),
 Text(5, 0, '30000'),
 Text(6, 0, '35000'),
 Text(7, 0, '40000'),
 Text(8, 0, '45000'),
 Text(9, 0, '50000'),
 Text(10, 0, '55000'),
 Text(11, 0, '60000'),
 Text(12, 0, '65000'),
 Text(13, 0, '70000'),
 Text(14, 0, '75000'),
 Text(15, 0, '80000'),
 Text(16, 0, '85000'),
 Text(17, 0, '90000'),
 Text(18, 0, '95000'),
 Text(19, 0, '100000'),
 Text(20, 0, '105000'),
 Text(21, 0, '110000'),
 Text(22, 0, '115000'),
 Text(23, 0, '120000'),
 Text(24, 0, '125000'),
 Text(25, 0, '130000'),
 Text(26, 0, '135000'),
 Text(27, 0, '140000'),
 Text(28, 0, '145000'),
 Text(29, 0, '150000'),
 Text(30, 0, '155000'),
 Text(31, 0, '160000'),
 Text(32, 0, '165000'),
 Text(33, 0, '170000'),
 Text(34, 0, '175000'),
 Text(35, 0, '180000'),
 Text(36, 0, '185000'),
 Text(37, 0, '190000'),
 Text(38, 0, '195000'),
 Text(39, 0, '200000')]